nav {
	z-index: 1;
}

.navbar {
	width: 100%;
}

.nav-item {
	font-size: 1rem;
	font-weight: 500;
}

.navbar-brand {
	font-size: 1.2rem;
	font-weight: 600;
}

.bg-light {
	background-color: transparent !important;
	border-color: transparent;
}

#icn_login {
	display: none;
}
