body {
	background-image: url(../bg-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

#menu {
	display: block;
	width: 60vh;
	min-width: 40em;
	margin-top: 7vh;
}

#menu li {
	position: absolute;
}

#menu ul {
	position: relative;
	max-width: 0;
	max-height: 0;
	padding: 50%;
	list-style: none;
}

#products { transform: rotate(0deg) skewX(30deg) scale(1); transition: transform 1s; }
#ressources { transform: rotate(60deg) skewX(30deg) scale(1); transition: transform 1s; }
#forum { transform: rotate(120deg) skewX(30deg) scale(1); transition: transform 1s; }
#art-school { transform: rotate(180deg) skewX(30deg) scale(1); transition: transform 1s; }
#art-science { transform: rotate(240deg) skewX(30deg) scale(1); transition: transform 1s; }
#old-students { transform: rotate(300deg) skewX(30deg) scale(1); transition: transform 1s; }

.slice {
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	overflow: hidden;
	transform-origin: 100% 100%;
}

.slice a {
	display: block;
	background: rgb(42, 44, 50);
	width: 200%;
	height: 200%;
	transform: skew(-30deg) rotate(-60deg);
	line-height: 1.75;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: 1rem;
	font-weight: 700;
	transition: font-size 1s;
	cursor: pointer;
}

.slice a:hover {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

#middle {
	z-index: 1;
	top: -1%;
	left: -1%;
	width: 102%;
	height: 102%;
	background-image: url("../img/menu.png");
	background-position: center;
	background-size: contain;
	pointer-events: none;
}

.text-slice {
	display: none;
}

.arrow {
	position: relative;
	max-width: 30px;
	top: -50%;
	left: 111%;
	font-size: 1.5rem;
	cursor: pointer;
	pointer-events: auto;
}

#down {
	position: relative;
	top: 7vh;
	font-size: 1.5rem;
	-webkit-animation: 2s arrow infinite ease;
	animation: 2s arrow infinite ease;
}

#down:hover {
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	transition: border-radius 0.3s;
}

@-webkit-keyframes arrow {
	50% { top: 5vh; }
}

@keyframes arrow {
	50% { top: 5vh; }
}
