header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

/*#menu-img {
    width: 55vh;
    height: 55vh;
}*/

#down {
	position: absolute;
	top: 90vh;
	padding: 20px;
	font-size: 2.5em;
}

#down:hover {
	cursor: pointer;
}

/*#arrow-down {
    width: 100%;
    margin: 0 auto;
    position: relative;
    flex: 0 0 10%;
    margin-top: -50px;
}*/

#down::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 2s arrow infinite ease;
    animation: 2s arrow infinite ease;
}

/*#down:hover:after {
    cursor: pointer;
}*/

@-webkit-keyframes arrow {
    50% {
        top: 25px;
    }
}

@keyframes arrow {
    50% {
        top: 25px;
    }
}

.menu {
	pointer-events: none;
}

.menu-circle {
	position: absolute;
	top: 28vh;
	/*z-index: 13;*/
}

.menu-active {
	position: relative;
}

.menu-listings {
	/*z-index: 10;*/
	/*position: absolute;*/
	/*top: -200px;
	left: -200px;*/
	width: 60vh;
	height: 60vh;
	border-radius: 50%;
	background-color: rgb(42, 44, 50);
	/*transform: scale(0.1) rotate(150deg);
	transition: transform 1s;*/
}

.menu-toggle {
	z-index: 1;
	position: absolute;
	top: 2.5vh;
	left: 2.5vh;
	width: 55vh;
	height: 55vh;
	background-image: url("menu.png");
	/*background-color: turquoise;*/
	background-size: cover;
	border-radius: 50%;
	/*transition: transform 1.3s;*/
	/*cursor: pointer;*/
	/*pointer-events: auto;*/
}

.circle {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(42, 44, 50);
	border-radius: 50%;
	/*transform: rotate(108deg);*/
	overflow: hidden;
	list-style: none;
}

.circle li {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0 100%;
	background-color: rgb(42, 44, 50);
}

.circle li .placeholder {
	position: absolute;
	left: -100%;
	padding-top: 1.5em;
	width: 200%;
	height: 200%;
	text-align: center;
	transform: skewY(54deg) rotate(18deg);
}

.circle li .placeholder .upside {
	transform: rotate(180deg);
}

.circle li .placeholder a {
	text-decoration: none;
	pointer-events: auto;
}

.circle li .placeholder button {
	pointer-events: auto;
}

.circle li .placeholder .button {
	font-size: 1.2rem;
	font-weight: 500;
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.circle li:nth-child(1) {
	transform: rotate(0deg) skewY(-54deg);
}

.circle li:nth-child(2) {
	transform: rotate(36deg) skewY(-54deg);
}

.circle li:nth-child(3) {
	transform: rotate(72deg) skewY(-54deg);
}

.circle li:nth-child(4) {
	transform: rotate(108deg) skewY(-54deg);
}

.circle li:nth-child(5) {
	transform: rotate(144deg) skewY(-54deg);
}

.circle li:nth-child(6) {
	transform: rotate(180deg) skewY(-54deg);
}

.circle li:nth-child(7) {
	transform: rotate(216deg) skewY(-54deg);
}

.circle li:nth-child(8) {
	transform: rotate(252deg) skewY(-54deg);
}

.circle li:nth-child(9) {
	transform: rotate(288deg) skewY(-54deg);
}

.circle li:nth-child(10) {
	transform: rotate(324deg) skewY(-54deg);
}

#menu-active {
	position: fixed;
	visibility: hidden;
	/*top: -99999px;
	left: -99999px;*/
}

/*#menu-active:checked ~ label .menu-listings {
	transform: rotate(10deg) scale(1);
	transition: transform 1s;
}

#menu-active:checked ~ label .button:hover {
	color: #c1264e;
}

#menu-active:checked ~ label .menu-toggle {
	transition: all 1s;
}*/

#menu-active ~ label .menu-listings {
	transform: rotate(10deg) scale(1);
	transition: transform 1s;
}

#menu-active ~ label .button:hover {
	color: rgba(255, 255, 255, 1);
}

/*#menu-active ~ label .menu-toggle {
	transition: all 1s;
}*/